/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "variables";

 html {
   height: 100%;
 }

 body {
   font-family: sans-serif;
   background: white;
   color: $grey;
   font-size: 12px;
   margin: 0;
 }

 header {
   display: flex;
   justify-content: center;
   background-color: $red;
   padding: 10px;

   img {
     width: 43px;
     height: 43px;
   }
 }

 nav {
   width: 900px;
   background-color: $red;
   padding: 6px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   ul {
     display: flex;
     justify-content: flex-end;

     li {
       a {
         background-color: white;
         border-radius: 4px;
         color: $grey;
         font-weight: 700;
         display: block;
         padding: 15px;
         text-decoration: none;
         text-transform: uppercase;
         cursor: pointer;
         z-index: 1;
         position: relative;
         -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
         -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
         -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
         -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
         transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

         &:hover {
           color: $light-grey;
           -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
           -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
           box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
         }

         &:active {
           background-color: $light-grey;
           color: white;
           -webkit-box-shadow: none;
           -moz-box-shadow: none;
           box-shadow: none;
         }
       }
     }
   }
 }

 #root {
   padding: 20px 0;
 }

 h2 {
   font-size: 32px;
 }

 h3 {
   font-size: 24px;
   text-align: center;
   color: $black;
 }

.thumbnail {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

 .thumbnail img {
   max-width: 20px;
   max-height: 20px;
   margin: auto;
 }

 .pokemon-index-item {
   display: flex;
   align-items: center;
   border-top: 1px solid black;
   padding: 5px 10px;
 }

 .pokemon-index-item:hover {
   background-color: papayawhip;
 }

 .sidebar a:last-of-type .pokemon-index-item{
   border-bottom: 1px solid black;
 }

 .sidebar {
   width: 25%;
   list-style: none;
   margin: 0;
   padding: 0;
   max-height: calc(100vh - 103px);
   overflow: scroll;
 }

 .sidebar a {
   text-decoration: none;
 }

 .sidebar a:visited {
   color: black;
 }

 .sidebar a:hover {
   color: black;
 }

 .pokedex {
   display: flex;
 }

 .detail {
   color: black;
   flex: 1;
   text-align: center;
   max-height: calc(100vh - 103px);
   overflow: scroll;
 }

 .detail ul {
   display: inline-block;
   list-style: none;
   text-align: left;
 }

 .detail ul li {
   font-size: 20px;
   line-height: 1.48;
 }

.detail figure {
  background: deeppink;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
}

.detail figure img {
  height: 380px;
  margin: auto;
}

.items {
  margin-top: 20px;
  display: inline-block;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

.items > h3 {
  margin-top: 0;
}

.items ul {
  margin: 0;
  padding: 0;
}

ul.item-images {
  display: flex;
  margin: 0;
  padding: 0;
}

.items img {
  display: block;
  width: 150px;
  height: 150px;
}

.items a {
  padding: 10px;
}

.items a:hover {
  border-radius: 10px;
  background: papayawhip;
}

form {
  padding: 0 20px;
}

input, select {
  margin: 10px;
  display: block;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

header {
  display: flex;
  justify-content: space-around;
}

header a {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 5px;
  font-weight: bold;
}

header a:hover {
  background-color: white;
  color: gray;
  box-shadow: 0 1px 1px 0 black;
}
